# Maven
target/

# IntelliJ IDEA
.idea/
*.iml
out/

# Maven Wrapper (опционально — можно коммитить, можно нет)
# .mvn/

# Скомпилированные файлы
*.class

# Логи
*.log

# ОС
.DS_Store
Thumbs.db

# Переменные окружения (если будешь использовать)
.env
/HELP.md
