<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand navbar-light bg-white border-bottom mb-4">
        <div class="container">
            <a class="navbar-brand fw-bold" th:href="@{/notes}">StudyNotes</a>
            <div class="navbar-nav">
                <a class="nav-link" th:href="@{/notes}">Заметки</a>
                <a class="nav-link" th:href="@{/search}">Поиск</a>
                <a class="nav-link" th:href="@{/notes/new}">Создать</a>
                <a class="nav-link" th:href="@{/import}">Импорт</a>
            </div>
        </div>
    </nav>
</header>
</body>
</html>